<% if @product.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @product.errors.full_messages.each do |msg|%>
      <p><%= msg %></p>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Editing Product: <%= @product.name%> </h1>
<%= render partial: 'form' %>
<br>

<%= link_to('Back to Index', products_path)%>
