
<h1 class="text-center header">KATHERINA'S ONLINE SHOP</h1>
<h3 class="text-center">Products List</h3>
<%= render partial: 'product_row', collection: @products %>
<br>
<p class="text-center"><%= link_to('Create a new product', new_product_path) %></p>
