<% if @product.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
      <% end %>
    </ul>
  </div>
<% end %>

<h2>Create a new product:</h3>
<%= render partial: 'form' %>
<br>
<%= link_to("Back to Index", products_path) %>
